* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
}

main {
    min-height: 100vh;
    background-color: white;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 735px;
    height: 255px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    position: relative;
}

@media (max-width: 768px) {
    .card {
        width: 90vw;
        height: auto;
        flex-direction: column;
    }
}

.card .img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media (max-width: 768px) {
    .card .img img {
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }
}

.text {
    padding: 25px 40px 20px;
    width: 70%;
}

@media (max-width: 768px) {
    .text {
        width: 100%;
        padding: 25px 40px 15px;
    }
}

.text h2 {
    font-size: 18px;
    color: hsl(217, 19%, 35%);
    letter-spacing: 0.5px;
}

.text p {
    font-size: 13px;
    color: hsl(212, 23%, 69%);
    line-height: 1.5;
    margin: 15px 0 30px;
}

.text .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.info .person {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info .person .photo {
    width: 35px;
    border-radius: 50%;
}

.person-info h3 {
    font-size: 12px;
    color: #4e5255;
}

.person-info span {
    font-size: 11px;
    color: hsl(212, 23%, 69%);
    display: block;
    margin-top: 3px;
}

.info .btn {
    border: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
    color: #6b7f98;
    position: relative;
    z-index: 2;
}


.info .share .icons {
    position: absolute;
    background-color: #49556b;
    padding: 14px 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    top: 44%;
    right: -58px;
    display: none;
}

@media (max-width: 768px) {
    .info .share .icons {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 67px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        gap: 20px;
        top: 88%;
    }
}

.info .share .icons img {
    cursor: pointer;
}

.info .share .icons span {
    color: hsl(212, 23%, 69%);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 13px;
}

.info .share .arrow {
    position: absolute;
    border: 11px solid #49556b;
    border-color: #49556b transparent transparent;
    top: 100%;
    right: 44%;
}

@media (max-width: 768px) {
    .info .share .arrow {
        display: none;
    }
}

/* the btn */
.info .open {
    transform: rotate(360deg);
    width: 36px;
    height: 36px;
    color: white;
    background-color: #6b7f98;
}

/* the icons */
.info .share .active {
    display: flex;
}